<h1>D3.js in Action: Exercises</h1>
<h2>Chapter One</h2>
<ul>
  <li><%= link_to "d3ia", chapter_one_d3ia_path %></li>
  <li><%= link_to "1.6.1 Hello World with divs", chapter_one_hello_world_path %></li>
  <li><%= link_to "1.6.2 Hello World with circles", chapter_one_hello_world_circles_path %></li>
  <li><%= link_to "1.6.3 A conversation with D3", chapter_one_d3_conversation_path %></li>
</ul>
<h2>Chapter Two</h2>
<ul>
  <li><%= link_to "2.2.1 Selections and binding", chapter_two_selections_and_binding_path %></li>
  <li><%= link_to "2.2.2 Accessing Data with inline functions", chapter_two_accessing_data_path %></li>
  <li><%= link_to "2.2.3 Itegrating scales", chapter_two_integrating_scales_path %></li>
  <li><%= link_to "2.3 Loading data, casting it, measuring it, and displaying it as a bar chart",
          chapter_two_bar_chart_path %></li>
  <li><%= link_to "2.4 Loading, nesting, measuring, and representing data",
          chapter_two_tweets_chart_path %></li>
  <li><%= link_to "2.5 Creating a scatterplot", chapter_two_scatterplot_path %></li>
</ul>
